@import url(../css/utilities.css);
:root{
    font-size: 16px;

    /* Light Mode Colors */
    --color-primary: #3dc5dd;     
    --color-secondary: #005f99;   
    --color-tertiary: #64a8ec;    
    --color-background: #ffffff;   
    --color-background-light: #f4f4f4;   
    --color-text: #2f2f2f;         
    --color-text-light: #4b4a4a;         
    --color-white: #f4f4f4;   
    --color-border: #dddddd;       
    --color-highlight: #1e90ff;    
    --color-alert: #005f99;       
    --color-text-white : #f4f4f4; 
    --color-success: #4fcf43;      
    --color-error: #e00808;        

    /* Dark Mode Colors */
    --color-background-dark: #1e1e1e; 
    --color-text-dark: #ffffff;       
    --color-border-dark: #444444; 

    --base-font : 'Space Grotesk';
}